<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <property name="logFileDirectory">logs</property>
        <Property name="logFileName">log4j2-demo</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%X{sessionID}] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/${logFileName}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-20(%X{TXID})- %thread] %-5level %logger{36}.%M %4L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
<!--        <Logger name="com.example" additivity="true">-->
<!--            <AppenderRef ref="LogToFile" level="warn"/>-->
<!--            <AppenderRef ref="LogToConsole" level="info"/>-->
<!--        </Logger>-->
        <RollingFile name="LogToFile"
                     fileName="${logFileDirectory}/${logFileName}.log"
                     filePattern="${logFileDirectory}/%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-20(%X{TXID})- %thread] %-5level %logger{36}.%M %4L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="7" fileIndex="max" >
                <Delete basePath = "${logFileDirectory}" maxDepth = "1">
                    <!-- 7일이 경과한 로그파일은 자동 삭제 -->
                    <IfLastModified age = "7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Logger name="com.example" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</configuration>
